@import '../../../styles/variable';
.city-card__header{
  padding: 1.18em 0;
}

.city-card{
  max-width:$max-width-app ;
  margin: 0 auto;
}

.city-card__box{
  position:relative;
  font-family: $roboto;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 2em 0 0 0;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}



.forecast {
  height: auto;
  font-size: .8em;
  overflow: hidden;

  & .forecast__header {
    font-size: 1.25em;
    margin-bottom: .83em;
  }

  & .forecast__list  {
    display: flex;
    padding: 0 1em 1.5em 1em;

    & .collapsed {
      display: none;
    }

    & .second-week {
      margin-top: 1em;
    }

    app-forecast-item, .loop {
      display: block;
      width: 14.285714285714286%;
      text-align: center;
    }
  }

  &.forecast__action {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    text-align: center;

    & .btn {
      width: 100%;
      text-transform: uppercase;
      font-size: .8em;
      border: none;
      padding: .5em 0;
      background: rgba(0, 0, 0, 0.01);
    }
  }


  @media screen and (max-width: 31.25em) {
    & {
      width: 80%;
      font-size: 1em;
      margin: 0 auto;

      & .forecast__list {
        flex-flow: wrap;
        padding: 0;

        app-forecast-item {
          flex: 0 0 50%;
          display: inline-block;
          margin-bottom: 1.5em;
        }
      }
    }
  }
}

.forecast-item {

  & .forecast-item__sky-state {
    .wi {
      display: inline-block;
      font-size: 1.8em;
      padding: .3em 0;
    }
  }

  & .forecast-item__temperature {
    display: block;
    width: 98%;
    font-size: .9em;
    padding: .3em 0 .1em 0;
    vertical-align: middle;
    margin: 0 auto;

    & .forecast-item__temperature-data {
      display: inline-block;
      position: relative;
      left: -6px;

      &:before,
      &::after {
        display: block;
        position: absolute;
      }

      &::before {
        content: attr(data-deg);
        top: 0;
        right: -5px;
        font-weight: 300;
        font-size: 90%;
      }

      &::after {
        content: attr(data-unit);
        bottom: 0;
        right: -13px;
      }
    }

    & .forecast-item__temperature--night {
      background: rgba(0, 0, 0, 0.03);
    }
  }

  & .forecast-item__natural-phenomen {
    padding: .3em 0 .1em 0;
  }


  @media screen and (max-width: 31.25em) {
    & .forecast-item__date {
      font-weight: 700;
    }

    & .forecast-item__sky-state {
      font-size: 130%;
    }
  }
}


